{% extends "fibeWWWConfBundle::base.html.twig" %}


{% block title %}Schedule{% endblock title %}




{% block body %}
 
	<div id='calendar'></div>
	<div id="event_edit_container">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Date: </span><span class="date_holder"></span> 
				</li>
				<li>
					<label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
				</li>
				<li>
					<label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
				</li>
				<li>
					<label for="title">Title: </label><input type="text" name="title" />
				</li>
				<li>
					<label for="body">Body: </label><textarea name="body"></textarea>
				</li>
			</ul>
		</form>
	</div>


{% endblock %}


 {% block stylesheets %}
 
    <!--
	<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css' />
	-->
<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" />
    <link rel='stylesheet' type='text/css' href= " {{ asset('jquery-week-calendar-master/libs/css/smoothness/jquery-ui-1.8rc3.custom.css') }}" />
	<link rel='stylesheet' type='text/css' href= "{{ asset('jquery-week-calendar-master/jquery.weekcalendar.css') }}" /> 
	<link rel='stylesheet' type='text/css' href= "{{ asset('jquery-week-calendar-master/full_demo/reset.css') }}" />  
{% endblock stylesheets %}


{%  block javascripts %} 
  <script type='text/javascript' src=" {{ asset('jquery-week-calendar-master/jquery.weekcalendar.js') }}"></script>  
	<script type='text/javascript' src=" {{ asset('jquery-week-calendar-master/full_demo/demo.js') }}"></script>  
	
  <script type = 'text/javascript'>
    $(document).ready(function(){
      // initialise Event Array;
                
      var arrayEvents = [ ];
          {% for event in events %} 
	            arrayEvents.push({   "id "    : {{ event.id }},
	                                 "start"  : new Date({{event.startAt | date('Y') }}, {{event.startAt | date('m') }}, {{event.startAt | date('d') }}, {{event.startAt | date('H') }}, {{event.startAt | date('i') }}), 
	                                 "end"  : new Date({{event.endAt | date('Y') }}, {{event.endAt | date('m') }}, {{event.endAt | date('d') }}, {{event.endAt | date('H') }}, {{event.endAt | date('i') }}), 
	                                 "title"  : "{{event.summary }}",
	                               });
          {% endfor %}
      console.log(arrayEvents);
	    initialize(arrayEvents); 
		
    });
  </script> 
	
{% endblock javascripts %}












