{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}Index{% endblock title %}
{% block body %}

{{ parent() }}

<div class="hero-unit">
        <h1>SWC event linker</h1>
        <p>This app has been made to manage a conference using SWC ontology.</p>
        <div class="row-fluid">
			      <div class="span4">
                <a href="{{ path('wwwconf_schedule') }}" class="btn btn-success btn-large"><i class="icon-calendar icon-white"></i> Manage schedule </a>
            </div>
			      <div class="span4"> 
                <a href="#myModal" role="button"  data-toggle="modal" class="btn btn-primary btn-large"><i class="icon-cog icon-white"></i> Configure SWC link </a>
            </div>
            
            <!--<div class="span3">
                <p><a href="{{ path('wwwconf_link_create') }}" disabled="disabled" class="btn btn-primary btn-large btn-success">New link <i class="icon-plus icon-white"></i></a></p>
            </div>
            <div class="span3">
                <p><a href="{{ path('wwwconf_link_list') }}" class="btn btn-info btn-large">See links »</a></p>
            </div>-->
        </div>
      </div>
      
      <div id="myModal" class="modal hide fade" data-show="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Configure SWC link</h3>
            </div>
            <div class="modal-body">
                <h2 class="text-info">Import SWC Ontology</h3>
                <h3 class="text-warning">Be carefull ! this action isn't cancelable</h3>
                <h4>Please, provide a complete Conf RDF File </h4>
                <h5 class="muted"><i>(such as : http://data.semanticweb.org/conference/www/2012/complete)</i></h5>
                <div class="input-append">
                  <input type="text" id="DBURL" placeholder="Complete Conf rdf File"></input>
                  <button  id="DBURLBtn" class="btn">
                    <i class="icon-download-alt"></i>
                    import
                  </button>
                </div>
                <hr/>
                
                <h2 class="text-info">Sparql config</h3>
                <h4>Please provide a valid Sparql endpoint url </h4>
                <h5 class="muted"><i>(such as : http://data.semanticweb.org/sparql)</i></h5>
                
                
                <div class="input-append">
                 <form id="SWCLinkForm" method="post"> 
                        {{ form_widget(SWCLinkForm.confUri) }}
                        {{ form_errors(SWCLinkForm.confUri) }} 
                    
                    {{ form_rest(SWCLinkForm) }}
                    <button  id="SPRQLEPURLBtn"  class="btn">
                      <i class="icon-arrow-right"></i>
                      test
                    </button>
                </form>
        
        
             
              
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
              </div>
            </div>


{% endblock body %}

{%  block javascripts %} 

        <script src="{{ asset('bundles/fibewwwconf/js/OWLImporter.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/fibewwwconf/js/moment.min.js') }}" type="text/javascript" ></script>
         <script type="text/javascript" >
         
    

          function FormPost(uri,form,callback){
              $.ajax({
                  type: "POST",
                  url:uri,
                  async: false,
                  data: form.serialize(),
                  success:function(a,b,c) { 
                               if(callback)callback();
                  }
              });
          }
          
          
         $(document).ready(function(){
            $('#myModal').hide();  
            run("{{ path('wwwconf_admin_DBimport') }}",'myModal');
               
            $('#SWCLinkForm').submit(function(event) {
                event.preventDefault();
                //test sparql endpoint
                $.ajax({
                    type: "GET",
                    url:$('#form_confUri').val()+'?query=SELECT+DISTINCT+*+WHERE+%7B+%3Fs+%3Fp+%3Fo+%7D%0D%0ALIMIT+1', 
                    success:function() { 
                                  FormPost("{{ path('wwwconf_link_index' ) }}",$('#SWCLinkForm'),function(){
                                      alert("link updated"); 
                                  });
                              },
                    error:function() { alert("wrong url");   } 
                }); 
              return false;
            }); 
         }); 
         </script>   
{% endblock %}







