{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}List{% endblock title %}
{% block body %}

{{ parent() }}


<div class="page-header">
  <h1>Links</h1>
</div> 
<h3 class="span5">Publication</h3>
<h3 class="span7">Event</h3> 
<table id="eventlist" class="span12 table table-striped table-hover table-bordered">
{% for xproperty in xproperties %} 
    
    <tr>
        <td class="span5">
            <a href="{{xproperty.xValue}}">
            {{xproperty.xValue}}
            </a>
        </td>
        <td  class="span3">
            {{xproperty.calendarEntity.summary}} 
        </td>
        <td class="span2">
            {{xproperty.calendarEntity.location}}
        </td> 
        <td class="span2"> 
             {% if xproperty.calendarEntity.startAt %}{{ xproperty.calendarEntity.startAt|date('Y-m-d H:i:s') }}{% endif %} 
             {{ xproperty.calendarEntity.duration }} 
             {% if xproperty.calendarEntity.endAt %}{{ xproperty.calendarEntity.endAt|date('Y-m-d H:i:s') }}{% endif %} 
        </td> 
    </tr> 
{% endfor %}  
</table>
{% endblock body %}
 
